.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-wrapper {
  height: 300px;
  width: 500px;
  overflow-x: auto;
  overflow-y: auto;
  border: 2px black solid;
}

li {
  list-style-type: none;
  cursor: auto;
  padding: 5px;
  padding-left: 40px;
}